<div class="comments" style="display: none">
   <% post.Comments.forEach(function(comment) { %>
      <%- include comment %>
   <% }); %>

   <form class="comment comment-form">
      <textarea name="text" type="text"></textarea>
      <input type="hidden" name="postid" value="<%= post.postid %>">
      <input type="submit" value="Comment">
   </form>
</div>
