<div class="comments" style="display: none">
   <% link.comments.forEach(function(comment) { %>
      <%- include comment %>
   <% }); %>

   <form class="comment comment-form">
      <textarea name="text" type="text"></textarea>
      <input type="hidden" name="link_id" value="<%= link.id %>">
      <input type="submit" value="Comment">
   </form>
</div>
