<div class="create-post">
   <div class="post-banner">
      <span class="post-link">
         Post <i class="fa fa-plus-circle"></i>
      </span>
   </div>

   <div class="post-form" style="display: none">
      <input name="url" placeholder="URL (https://legendary-abs.com)" type="url">
      <input name="title" placeholder="Title (Legendary Abs)" type="text">
      <textarea name="description" placeholder="Description (Awesome Workout Website)"></textarea>
      <input class="post-submit" type="button" value="Submit"></input>
   </div>
</div>
