<div class="create-post">
   <div class="post-banner">
      <span class="post-link">
         Post <i class="fa fa-plus-circle"></i>
      </span>
   </div>

   <form class="post-form" style="display: none">
      <input name="url" placeholder="URL (https://legendary-abs.com)" type="url">
      <input name="name" placeholder="Title (Legendary Abs)" type="text">
      <select name="category">
         <% categories.forEach(function(cat) { %>
            <option value="<%= cat.category_id %>"><%= cat.name %></option>
         <% }); %>
      </select>
<!--      <textarea name="description" placeholder="Description (Awesome Workout Website)"></textarea>-->
      <input class="post-submit" type="submit" value="Submit"></input>
   </form>
</div>
