<!DOCTYPE html>
<html>
<head>
   <title>Gruten Flee</title>
   <% include partials/head %>
   <script>
      requirejs(['./js/config'], function (config) {
          requirejs(['app/index']);
      });
   </script>
   <link rel="stylesheet" href="/css/index.css">
</head>
<body>
   <% include partials/header %>

   <% include partials/create-post %>

   <% links.forEach(function(link) { %>
      <% include partials/post %>
   <% }); %>
</body>
</html>
