<!DOCTYPE html>
<html>
<head>
   <title>Gruten Flee</title>
   <% include partials/head %>
   <script>
      requirejs(['/js/config.js'], function (config) {
          requirejs(['app/index']);
      });
   </script>
   <link rel="stylesheet" href="/css/index.css">
</head>
<body>
   <% include partials/header %>

   <% include partials/create-post %>

   <div class="category-filter">
      <span>Filter: </span>
      <select name="category">
         <option value="0">All</option>
         <% categories.forEach(function(cat) { %>
            <option value="<%= cat.categoryid %>"
             <%= (selectedCategory === cat.categoryid) ? 'selected' : '' %>
             ><%= cat.name %></option>
         <% }); %>
      </select>
   </div>

   <% posts.forEach(function(post) { %>
      <% include partials/post %>
   <% }); %>
</body>
</html>
