<!DOCTYPE html>
<html>
<head>
   <title>Bookmarker</title>
   <% include partials/head %>
   <script src="/js/index.js"></script>
</head>
<body>
   <% include partials/header %>

   <% include partials/create-post %>

   <% links.forEach(function(link) { %>
      <% include partials/post %>
   <% }); %>
</body>
</html>
