<!DOCTYPE html>
<html>
<head>
   <title>Login</title>
   <% include partials/head %>
   <link rel="stylesheet" href="/css/login.css">
</head>
<body>
   <% include partials/header %>

   <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
   <% } %>

   <h1><span class="fa fa-lock"></span> Login</h1>
   <p>
      <span>Login or Register with:</span>
      <a href="/auth/google" class="btn btn-danger">
         <span class="fa fa-google"></span>oogle
      </a>
   </p>
</body>
</html>
