<!DOCTYPE html>
<html>
<head>
   <title>Signup</title>
   <% include partials/head %>
   <link rel="stylesheet" href="/css/login.css">
</head>
<body>
   <% include partials/header %>

   <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
   <% } %>

   <form action="/signup" method="post">
      <input type="email" placeholder="Email" name="email">
      <input type="password" placeholder="Password" name="password">
      <input type="hidden" name="code" value="<%= code %>">
      <input type="submit" value="Signup">
    </form>
</body>
</html>
