body {
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   max-width: 480px;
   margin: auto;
}

a {
   color: #00B7FF;
}

/* HEADER */
.header {
   height: 22px;
   margin-bottom: 20px;
   text-align: center;
   padding: 10px;

   border: 1px solid black;
   border-top: 0;
}

.menu {
   visibility: hidden;
   float: left;
   width: 30%;
   text-align: left;
}

.logo {
   float: left;
   width: 40%;
   font-size: 18px;
   text-align: center;
   font-family: monospace;
}

.profile-link {
   visibility: hidden;
   float: left;
   width: 30%;
   text-align: right;
}
